#container{
    position: relative;
    border: 10px rgb(150, 88, 37) solid;
    background:rgb(219, 127, 52)
}

canvas{
    position: absolute;
    border: 1px black solid;
    transition: top 1s, left 1s, opacity 1s 1s;
}

#image{
    transition: opacity 1s;
    opacity: 0;
}

#button{
    background: rgb(214, 106, 106);
    position: absolute;
    top: 150px;
    left: 150 px;
    height: 30px;
    width: 50px;
}